.profile {
  margin: 100px auto;
  width: 500px;
  background-color: #fff;
  border-radius: 5px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 30%;
  padding-top: 70px;
  margin-bottom: 70px;
  /* border-radius: 50%; */
}

.name,
.quantity {
  font-size: 20px;
  font-weight: bold;
}

.tag {
  color: #838383;
}

.location {
  composes: tag;
  margin-bottom: 50px;
}

.label {
  composes: tag;
  margin-bottom: 20px;
}

.stats {
  list-style: none;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  border-top: 1px solid lightgrey;
  background-color: #ececec;
}

.stats li {
  width: 165px;
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid lightgrey;
}

.stats li:first-child {
  border-bottom-left-radius: inherit;
}

.stats li:last-child {
  border-bottom-right-radius: inherit;
  border-right: none;
}
