.item {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-bottom: 12px;
  padding: 5px 0;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 10px;
}

.avatar {
  background-color: lightgrey;
  border-radius: 5px;
}

.name {
  padding-left: 10px;
}
