.transactionHistory {
  width: 100%;
  background-color: #fff;
  margin-bottom: 70px;
  border-collapse: collapse;
}

thead {
  text-transform: uppercase;
  background-color: #00bcd5;
  color: #fff;
}

th {
  border: 1px solid #fff;
}

tr {
  height: 38px;
}

tbody {
  text-align: center;
  color: #949494;
}

td {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

tbody tr:nth-child(2n) {
  background-color: #ecf1f4;
}
